openapi: 3.1.0
info:
  title: MooPiew API
  version: 1.2.0
  description: >-
    Restaurant ordering, delivery, payment and back-office API. Browser clients
    never receive provider credentials. Owner, staff and kitchen operations use
    their respective server-configured secret headers.
servers:
  - url: https://moopiew.zeaz.dev
paths:
  /api/health:
    get: {summary: Liveness probe, responses: {'200': {description: Service process is healthy}}}
  /api/ready:
    get: {summary: Readiness probe, responses: {'200': {description: Database is reachable}}}
  /api/status:
    get: {summary: Public operational status without secrets, responses: {'200': {description: Service status}}}
  /api/menu:
    get: {summary: Get live menu and storefront configuration, parameters: [{name: date, in: query, schema: {type: string, format: date}}], responses: {'200': {description: Storefront payload}, '400': {description: Unavailable pickup date}}}
  /api/delivery/quote:
    post: {summary: Calculate a server-side delivery quote from configured store pricing, requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/DeliveryQuoteRequest'}}}}, responses: {'200': {description: Quote}, '400': {description: Invalid or out-of-range location}}}
  /api/orders:
    post: {summary: Create pickup or delivery order, requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateOrderRequest'}}}}, responses: {'201': {description: Created}, '400': {description: Invalid menu, delivery or pricing data}}}
  /api/orders/{orderId}/cancel:
    post: {summary: Cancel an order after matching customer phone verification, parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'200': {description: Cancelled}, '400': {description: Cancellation unavailable}}}
  /api/order-lookup:
    post: {summary: Look up an order using its ID and matching customer phone, responses: {'200': {description: Found}, '404': {description: Not found}}}
  /api/tracking/{trackingCode}:
    get: {summary: Get privacy-minimised delivery tracking status, parameters: [{name: trackingCode, in: path, required: true, schema: {$ref: '#/components/schemas/TrackingCode'}}], responses: {'200': {description: Tracking status}, '404': {description: Not found}}}
  /api/tracking/{trackingCode}/events:
    get: {summary: Server-sent delivery status events, parameters: [{name: trackingCode, in: path, required: true, schema: {$ref: '#/components/schemas/TrackingCode'}}], responses: {'200': {description: text/event-stream}}}
  /api/riders/register:
    post: {summary: Submit a rider application, responses: {'201': {description: Application received}}}
  /api/merchants/register:
    post: {summary: Submit a merchant application, responses: {'201': {description: Application received}}}
  /api/providers:
    get: {summary: List active document-policy providers, responses: {'200': {description: Providers}}}
  /api/providers/{provider}:
    get: {summary: Get provider services and metadata, parameters: [{name: provider, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Provider}}}
  /api/providers/{provider}/requirements:
    get: {summary: Get dynamic provider requirements, parameters: [{name: provider, in: path, required: true, schema: {type: string}}, {name: subject_type, in: query, schema: {type: string, enum: [rider, merchant]}}], responses: {'200': {description: Requirements}}}
  /api/providers/{provider}/requirements/{subject}:
    get: {summary: Get rider or merchant requirements, parameters: [{name: provider, in: path, required: true, schema: {type: string}}, {name: subject, in: path, required: true, schema: {type: string, enum: [rider, merchant]}}], responses: {'200': {description: Requirements}}}
  /api/documents/upload:
    post: {summary: Upload a validated document for an onboarding requirement, security: [{adminKey: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/DocumentUploadRequest'}}}}, responses: {'201': {description: Uploaded}, '400': {description: Validation failure}}}
  /api/documents/{documentId}:
    patch: {summary: Verify or reject an uploaded document, security: [{adminKey: []}], parameters: [{name: documentId, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Updated}}}
    delete: {summary: Soft-delete and remove an uploaded document, security: [{adminKey: []}], parameters: [{name: documentId, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Deleted}}}
  /api/documents/status:
    get: {summary: List document status for owner review, security: [{adminKey: []}], responses: {'200': {description: Document status}}}
  /api/documents/history:
    get: {summary: List immutable document verification history, security: [{adminKey: []}], responses: {'200': {description: Verification history}}}
  /api/payments/scb/config:
    get: {summary: Public SCB capability flags only; never returns credentials, responses: {'200': {description: Capability}}}
  /api/orders/{orderId}/payments/scb/qr:
    post: {summary: Create opt-in SCB QR payment attempt for an authorised order, parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'201': {description: QR attempt}, '503': {description: Payment feature disabled or unavailable}}}
  /api/scb/payment/confirm:
    post: {summary: SCB callback trigger; server verifies provider inquiry before settlement, responses: {'200': {description: Verified state}, '401': {description: Invalid signature}}}
  /auth/scb/callback:
    get: {summary: SCB EASY OAuth callback for the owner flow, parameters: [{name: code, in: query, schema: {type: string, maxLength: 4096}}, {name: authCode, in: query, schema: {type: string, maxLength: 4096}}, {name: state, in: query, required: true, schema: {type: string, minLength: 32, maxLength: 128, pattern: '^[A-Za-z0-9_-]+$'}}], responses: {'200': {description: Connection completed}, '400': {description: Missing, expired, replayed or rejected authorization state/code}}}
  /api/admin/dashboard:
    get: {summary: Owner dashboard with orders, payments and audit summary, security: [{adminKey: []}], responses: {'200': {description: Dashboard}}}
  /api/admin/audit:
    get: {summary: Owner audit log, security: [{adminKey: []}], responses: {'200': {description: Recent audit events}}}
  /api/admin/operations:
    get: {summary: Owner operational aggregate, security: [{adminKey: []}], responses: {'200': {description: Operations payload}}}
  /api/admin/document-requirements:
    get: {summary: List provider document policy versions, security: [{adminKey: []}], responses: {'200': {description: Requirements}}}
  /api/admin/document-requirements/{requirementId}:
    patch: {summary: Version and update requirement ordering/status, security: [{adminKey: []}], parameters: [{name: requirementId, in: path, required: true, schema: {type: string}}], responses: {'201': {description: New version}}}
  /api/admin/menu:
    get: {summary: Owner menu management data, security: [{adminKey: []}], responses: {'200': {description: Menu data}}}
    post: {summary: Create menu item, security: [{adminKey: []}], responses: {'201': {description: Created}}}
  /api/admin/menu/{menuId}:
    patch: {summary: Update menu availability or details, security: [{adminKey: []}], parameters: [{name: menuId, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Updated}}}
  /api/admin/settings:
    patch: {summary: Atomically update supported pickup settings and audit changed keys, security: [{adminKey: []}], responses: {'200': {description: Updated}, '400': {description: No supported setting or a value is outside its allowed range}}}
  /api/admin/ai/config:
    get: {summary: Owner-only live AI provider status without token data, security: [{adminKey: []}], responses: {'200': {description: AI capability flags}}}
  /api/admin/ai/models:
    get: {summary: Discover the configured live AI model catalog, security: [{adminKey: []}], responses: {'200': {description: Unified live model catalog}, '503': {description: AI disabled or providers unavailable}}}
  /api/admin/ai/chat:
    post: {summary: Run an owner-only chat prompt against a model in the live catalog; prompts and output are not persisted, security: [{adminKey: []}], responses: {'200': {description: Model response}, '400': {description: Invalid model, prompt or provider response}}}
  /api/admin/scb/auth/start:
    get: {summary: Create SCB EASY authorisation link for owner, security: [{adminKey: []}], responses: {'200': {description: Authorisation URL}, '400': {description: SCB configuration invalid}}}
  /api/admin/scb/auth/status:
    get: {summary: Return SCB token connection status without token data, security: [{adminKey: []}], responses: {'200': {description: Connection status}}}
  /api/admin/riders:
    post: {summary: Create rider record, security: [{adminKey: []}], responses: {'201': {description: Created}}}
  /api/admin/riders/{riderId}:
    patch: {summary: Update rider activation or availability; active deliveries prevent deactivation, security: [{adminKey: []}], parameters: [{name: riderId, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Updated}, '400': {description: Rider has an active delivery or mutation is invalid}}}
  /api/admin/rider-applications/{applicationId}:
    patch: {summary: Atomically approve or reject a pending rider application once, security: [{adminKey: []}], parameters: [{name: applicationId, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Reviewed}, '400': {description: Application was already reviewed or decision is invalid}}}
  /api/admin/merchant-applications/{applicationId}:
    patch: {summary: Atomically approve or reject a pending merchant application once, security: [{adminKey: []}], parameters: [{name: applicationId, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Reviewed}, '400': {description: Application was already reviewed or decision is invalid}}}
  /api/admin/delivery-zones:
    post: {summary: Create delivery zone, security: [{adminKey: []}], responses: {'201': {description: Created}}}
  /api/admin/delivery-pricing:
    post: {summary: Update delivery fee policy and store coordinates with finite numeric values, security: [{adminKey: []}], responses: {'200': {description: Updated}, '400': {description: Invalid mode, coordinate or non-finite fee value}}}
  /api/admin/deliveries/{orderId}:
    patch: {summary: Assign rider or update delivery status; delivered settlement requires confirmed payment, security: [{adminKey: []}], parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'200': {description: Updated}, '400': {description: Invalid transition or payment is not confirmed}}}
  /api/staff/deliveries/{orderId}:
    patch: {summary: Update delivery status as staff; delivered settlement requires confirmed payment, security: [{employeeKey: []}], parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'200': {description: Updated}, '400': {description: Invalid transition or payment is not confirmed}}}
  /api/admin/inventory:
    post: {summary: Create inventory item with finite non-negative quantities, security: [{adminKey: []}], responses: {'201': {description: Created}, '400': {description: Invalid or non-finite inventory data}}}
  /api/admin/inventory/adjust:
    post: {summary: Atomically adjust inventory with a required reason and audit trail, security: [{adminKey: []}], responses: {'200': {description: Adjusted}, '400': {description: Zero, non-finite or negative-result adjustment}}}
  /api/admin/inventory/recipes:
    post: {summary: Set a menu-item inventory recipe with a finite positive quantity, security: [{adminKey: []}], responses: {'200': {description: Saved}, '400': {description: Invalid item reference or quantity}}}
  /api/admin/coupons:
    post: {summary: Create coupon, security: [{adminKey: []}], responses: {'201': {description: Created}}}
  /api/admin/business-profile:
    post: {summary: Update business profile for receipts and tax invoices, security: [{adminKey: []}], responses: {'200': {description: Updated}}}
  /api/admin/orders/{orderId}:
    patch: {summary: Update order as owner; completion requires an existing or atomic paid transition, security: [{adminKey: []}], parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'200': {description: Updated}, '400': {description: Invalid status or payment transition}}}
  /api/staff/orders/{orderId}:
    patch: {summary: Update order as staff, security: [{employeeKey: []}], parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'200': {description: Updated}}}
  /api/kitchen/orders/{orderId}:
    patch: {summary: Update order as kitchen, security: [{kitchenKey: []}], parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'200': {description: Updated}}}
  /api/admin/orders/{orderId}/receipt:
    post: {summary: Issue or retrieve an immutable receipt snapshot after confirmed payment, security: [{adminKey: []}], parameters: [{name: orderId, in: path, required: true, schema: {$ref: '#/components/schemas/OrderId'}}], responses: {'200': {description: Existing receipt}, '201': {description: Receipt issued}, '400': {description: Order is cancelled or payment is not confirmed}}}
  /api/admin/receipts/{receiptId}/print:
    get: {summary: Render printable receipt HTML, security: [{adminKey: []}], parameters: [{name: receiptId, in: path, required: true, schema: {$ref: '#/components/schemas/ReceiptId'}}], responses: {'200': {description: Printable receipt}}}
  /api/admin/receipts/{receiptId}/tax-invoice:
    post: {summary: Issue or retrieve an idempotent tax invoice from the receipt snapshot, security: [{adminKey: []}], parameters: [{name: receiptId, in: path, required: true, schema: {$ref: '#/components/schemas/ReceiptId'}}], responses: {'200': {description: Existing tax invoice}, '201': {description: Tax invoice issued}, '400': {description: Seller VAT profile or buyer data is incomplete}}}
  /api/admin/payments/scb/{paymentId}/inquire:
    post: {summary: Verify pending SCB payment with provider inquiry, security: [{adminKey: []}], parameters: [{name: paymentId, in: path, required: true, schema: {type: string}}], responses: {'200': {description: Inquiry result}}}
  /api/staff/dashboard:
    get: {summary: Staff order dashboard, security: [{employeeKey: []}], responses: {'200': {description: Staff dashboard}}}
  /api/kitchen/dashboard:
    get: {summary: Kitchen order dashboard, security: [{kitchenKey: []}], responses: {'200': {description: Kitchen dashboard}}}
components:
  securitySchemes:
    adminKey: {type: apiKey, in: header, name: X-Admin-Key}
    employeeKey: {type: apiKey, in: header, name: X-Employee-Key}
    kitchenKey: {type: apiKey, in: header, name: X-Kitchen-Key}
  schemas:
    OrderId: {type: string, pattern: '^MPP-[A-Z0-9-]+$'}
    ReceiptId: {type: string, pattern: '^RCT-[A-Z0-9-]+$'}
    TrackingCode: {type: string, pattern: '^TRK-[A-F0-9]+$'}
    DeliveryQuoteRequest:
      type: object
      required: [subtotal, latitude, longitude]
      properties:
        zone_id: {type: string}
        subtotal: {type: number, minimum: 0}
        latitude: {type: number, minimum: -90, maximum: 90}
        longitude: {type: number, minimum: -180, maximum: 180}
    CreateOrderRequest:
      type: object
      required: [name, phone, items]
      properties:
        name: {type: string, minLength: 2, maxLength: 80}
        phone: {type: string}
        pickup_date: {type: string, format: date}
        pickup_slot: {type: string}
        fulfillment_type: {type: string, enum: [pickup, delivery]}
        payment_method: {type: string, enum: [cash, transfer, scb_qr]}
        items: {type: array, minItems: 1}
    DocumentUploadRequest:
      type: object
      required: [provider, subject_type, subject_id, requirement_id, filename, mime_type, content_base64]
      properties:
        provider: {type: string}
        subject_type: {type: string, enum: [rider, merchant]}
        subject_id: {type: string}
        requirement_id: {type: string}
        filename: {type: string}
        mime_type: {type: string, enum: [image/jpeg, image/png, image/webp, application/pdf]}
        content_base64: {type: string, format: byte, description: Base64 file body; max 10 MiB decoded}
